<div id="<%= dom_id reminder %>" class="due_reminder">
  <div>
  <h3>📌 <%= reminder.title %></h3>
  <p><strong>Description:</strong> <%= reminder.description %></p>
  <p>Price: <strong><%= reminder.price %></strong></p>
  <p>
    <strong>Recurrence:</strong>
    <%= reminder.recurrence %>
  </p>
  <p>
    <strong>Due?</strong>
    <%= reminder.due %>
  </p>
</div>

  <div>
    <%= link_to "Edit this reminder", edit_reminder_path(reminder) %> |

    <%= button_to "Destroy this reminder", reminder, method: :delete %>
    <%= button_to "Dismiss", dismiss_reminder_path(reminder), method: :patch, remote: true, data: { turbo_method: :patch } %>
    <p>
      <%= link_to "Show this reminder", reminder %>
    </p>
  </div>
</div>
