<p style="color: green"><%= notice %></p>

<%= link_to "New reminder", new_reminder_path %>

<% content_for :title, "Reminders" %>

<h1>Due Reminders</h1>
<%= turbo_stream_from "due_reminders" %>
<div id="due_reminders">
  <% @due_reminders.each do |due_reminder| %>
      <%= render partial: "reminders/due_reminder", locals: { reminder: due_reminder } %>
  <% end %>
</div>

<% content_for :title, "Reminders" %>

<h1>Reminders</h1>
<%= turbo_stream_from "reminders" %>
<div id="reminders">
  <% @reminders.each do |reminder| %>
    <%= render reminder %>
    <p>
      <%#= link_to "Show this reminder", reminder %>
    </p>
  <% end %>
</div>

